@darkgray:#333333;
@gray:#4D4D4D;
@lightgray:#999999;
@green: #C2E15F;
@orange: #FDA333;
@purple: #D3A4F9;
@red: #FB4485;
@blue: #6CE0F1;
@yellow: #EDD30E;
@font-size-base: 14px;

hr{
    border: 1px dashed;
    color:@lightgray;
}
body{
    color:@darkgray;
    font-size:  @font-size-base * 1.1;
    text-align : justify;
}
a {
    color: inherit;
}
h1{
    font-size:  @font-size-base * 3.5;
}
p{
    color:inherit;
}
footer{
    font-size:  @font-size-base * 0.9;
}
.aside{
    text-align: right;
}
.grisclaro{
    color: @lightgray;
    text-align: right;
}
.negrita{
    font-weight:bold;
}

.bot-dis{
    margin-bottom: 1em;
}
.invertido{
    color: white;

}

