<h3>{{ 'CONTACT' | translate }}</h3>
<!-- {{datos.personal.address}}<br/> -->
{{datos.personal.location}}<br/>
{{datos.personal.country}}<br/><br/>
<span class="negrita"><a href="tel:{{datos.personal.telephone}}">{{datos.personal.telephone}}</a>    <i class="fa fa-phone"></i></span><br/>
<a href="mailto:{{datos.personal.email}}">{{datos.personal.email}}</a> <span class="negrita">@</span><br/>
<a href="http://{{datos.personal.linkedin}}">{{datos.personal.linkedin}}</a> <i class="fa fa-linkedin"></i><br/>
<a href="http://{{datos.personal.aboutme}}">{{datos.personal.aboutme}}</a> <i class="fa fa-globe"></i><br/>
<a href="skype:{{datos.personal.skype}}?chat">{{datos.personal.skype}}</a> <i class="fa fa-skype"></i><br/>
