<h2>{{ 'EDUCATION' | translate }}</h2>
<div ng-repeat="edu in datos.education" class="row bot-dis">
   <div class="col-sm-2">{{edu.period}}</div>
   <div class="col-sm-8 negrita">{{edu.course}}</div>
   <div class="col-sm-2 grisclaro" ng-if="edu.hours">{{edu.hours}} {{ 'HOURS' | translate }}</div>
   <div class="col-sm-10 col-sm-offset-2">{{edu.center}}</div>
</div>