<h2>{{ 'EMPLOYMENT' | translate }}</h2>
<div ng-repeat="emp in datos.employment" class="row">
    <div class="col-sm-2">{{emp.date}}</div>
    <div class="col-sm-8 negrita">{{emp.company}}</div>
    <div class="col-sm-2 grisclaro" ng-if="emp.title">{{emp.title}}</div>
    <div class="col-sm-10 col-sm-offset-2">{{emp.description}}</div>
    <div class="col-sm-10 col-sm-offset-2">
        <ul ng-if="emp.list" >
            <li ng-repeat="elem in emp.list">{{elem}}</li>
        </ul>
    </div>
    <br/>
</div>