<hr />
<footer>
    <p class="muted credit footer">{{ 'BUILD' | translate }} <a href="https://angularjs.org/">Angularjs</a>. {{ 'BASED' | translate }} <a href="https://github.com/afriggeri/cv">afriggeri-cv</a> - Copyright © 2014 Miguel Rivero</p>
</footer>