<h2>{{ 'HONORS_AWARDS' | translate }}</h2>
<div ng-repeat="hon in datos.honors_awards" class="row bot-dis">
   <div class="col-sm-2">{{hon.year}}</div>
   <div class="col-sm-10 negrita">{{hon.award}}</div>
   <div class="col-sm-10 col-sm-offset-2" ng-if="hon.description">{{hon.description}}</div>
</div>