<h2>{{ 'PRO_SKILLS' | translate }}</h2>
<div class="row">
    <div class="col-sm-2 bot-dis">{{ 'LANGUAGES' | translate }}:</div>
    <div class="col-sm-10 bot-dis negrita">{{datos.pro_skills.Languages}}</div><br/>
    <div class="col-sm-2 bot-dis">{{ 'DBMS' | translate }}:</div>
     <div class="col-sm-10 bot-dis negrita"> {{datos.pro_skills.DBMS}} </div><br/>
    <div class="col-sm-2 bot-dis">{{ 'IDE' | translate }}:</div>
     <div class="col-sm-10 bot-dis negrita"> {{datos.pro_skills.IDE}} </div><br/>
    <div class="col-sm-2 bot-dis">{{ 'OS' | translate }}:</div>
     <div class="col-sm-10 bot-dis negrita"> {{datos.pro_skills.OS}} </div><br/>
    <div class="col-sm-2 bot-dis">{{ 'DESIGN' | translate }}:</div>
     <div class="col-sm-10 bot-dis negrita"> {{datos.pro_skills.Design}} </div><br/>
    <div class="col-sm-2 bot-dis">{{ 'OTHERS' | translate }}:</div>
     <div class="col-sm-10 bot-dis negrita"> {{datos.pro_skills.Others}} </div><br/>
</div>