<h2 class="text-center">{{datos.personal.degree}}<br/>
    <a href="#/es/"><img src="img/es.png" height="11" width="16" alt="Español" /></a>
    <a href="#/en/"><img src="img/gb.png" height="11" width="16" alt="English" /></a><br/>
    <a href="{{datos.personal.pdf}}" target="_new"><i class="fa fa-file-pdf-o"></i></a>
</h2>

<div class="col-sm-4 aside">
    <contact></contact>
    <languages></languages>
    <programming></programming>
    <interests></interests>
</div>
<div class="col-sm-8 principal">
    <education></education>
    <employment></employment>
    <professional-skills></professional-skills>
    <personal-skills></personal-skills>
    <honors-awards></honors-awards>
</div>
<foot></foot>